<table>
  <col width="200">
  <col width="300">
  <col width="100">
  <col width="100">
  <thead>
   <tr>
     <th colspan="4"></th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Image</strong></td>
      <td><strong>Item</strong></td>
      <td><strong>Quantity</strong></td>
      <td><strong>Price</strong></td>
    </tr>
    <% @cart.each do |item| %>
    <tr>
      <td>image placeholder </td>
      <td><%= link_to item.name, category_item_path(item.category, item) %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price_formatted %></td>
    </tr>
    <% end %>
    <div class="">
      <tr>
        <td></td>
        <td></td>
        <td><strong>Subtotal: </strong></td>
        <td><%= @user.cart_total %></td>
      </tr>
    </div>
  </tbody>
</table>
