  <table>
    <col width="200">
    <col width="300">
    <col width="100">
    <col width="100">
    <thead>
     <tr>
       <th colspan="4"></th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Image</strong></td>
        <td><strong>Item</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Quantity Available</strong></td>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td>image placeholder </td>
        <td><%= link_to item.name, category_item_path(item.category, item) %></td>
        <td><%= item.price_formatted %></td>
        <td><%= item.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
