<h1>Image Placeholder</h1>
<div>
  <%= @item.name %><br>
  <%= @item.price_formatted %><br>
  <%= @item.quantity %> Available<br>
</div>

<div class="">
  Add to Cart Placeholder
</div>

<div class="">
  Reviews placeholder
</div>

<%= link_to "Add to Cart", add_to_cart(@item.id) %>
